@import "tailwindcss";

body {
  @apply bg-black;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .star {
    @apply absolute rounded-full bg-white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }

  .animate-pulse-subtle {
    animation: pulse-subtle linear infinite;
  }

}

/* @keyframes pulse-subtle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
} */


@layer utilities {
  .meteor {
    @apply absolute bg-gradient-to-r from-white via-white to-transparent rounded-full;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
  }

  .animate-meteor {
    animation: meteor linear infinite;
  }

  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }
}

@keyframes meteor {
  0% {
    transform: rotate(218deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(218deg) translateX(-500px);
    opacity: 0;
  }
}